################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1TasksTest/.vs/Project1/v15/Browse.VC.opendb
